#footer {
    color:aquamarine;
}
#footer a {
    text-decoration: none;
    color: rgb(21, 89, 74);
}
#footer a:hover {
    color:aquamarine;
}
body {
    overflow:hidden;
    background-color: black;
    text-align: center;
}
button {
    border: 1px solid rgb(01, 89, 54);
    background-color: #06040A;
    font-size: 2em;
    width: 2.2em;
    height: 2.2em;
}
button:active,
button:focus
{
    outline: none ;
    border: 1px solid rgb(01, 89, 54)
}
button:hover {
    background-color: rgb(22, 26, 26);
    border: 1px solid #7EC37E;
}
#console-div{
    margin-left: -.5em;
}
#console-wrapper {
    width: 100vw;
    color: #12995B;
    font-family: 'Courier New', Courier, monospace;
}
#console {
    color:#7EC37E;
    border: 1px solid rgb(01, 89, 54);
    width: 20em;
    height: 14em;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(22, 26, 26);            
}
#scoring {
    margin-left: 1em;
    text-align: left;
}